.sliderContainer {
  position: relative;
  margin: 20px 0;
  cursor: pointer;
}
.label {
  display: block;
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
  color: #ffffff;
  font-size: large;
   text-shadow:
    -1px -1px 0 #0f0103,
     1px -1px 0 #0a0102,
    -1px  1px 0 #0e0103,
     1px  1px 0 #140103;
}
.sliderTrack {
  width: 100%;
  height: 6px;
  background: #ddd;
  border-radius: 3px;
  position: absolute;
  top: 7px;
  left: 0;
}

.tooltip {
  position: absolute;
  top: -25px;
  background: #DA001E;
  color: #fff;
  padding: 2px 6px;
  border-radius: 3px;
  font-size: 12px;
  white-space: nowrap;
}

.slider {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  background: transparent;
  outline: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.slider:first-child {
  z-index: 2;
}

.slider:last-child {
  z-index: 3;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #fff;
  border: 2px solid #DA001E;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #fff;
  border: 2px solid #DA001E;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.values {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #666;
  margin-top: 30px;
}
