.titleFilterContainer {
  margin-bottom: 10px; /* Default spacing for smaller screens */
}

.titleSelect {
  width: 100%; /* Full width on smaller screens */
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  font-size: 14px;
  cursor: pointer;
}

.titleFilterWrapper {
  position: absolute;
  right: 10px;
}

/* Medium screens and up */
@media (max-width: 768px) {
  .titleFilterWrapper {
    position: static;
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}

.titleSelect:focus {
  outline: none;
  border-color: #DA001E;
}
